<h1>MadLibs Result</h1>
<p>I can't belive its already @Model.Holiday</p>
<p>I can't wait to put on my @Model.NounOne and visit every @Model.Place in my neighborhood.</p>
<p>This year, I am going to dress up as (a) @Model.Person with @Model.AdjectiveOne @Model.BodyPart.</p>
<p>Before I @Model.Verb, I make sure to grab my @Model.AdjectiveTwo @Model.PluralNoun to hold all of my @Model.Food.</p>
<p>Finally, all of my @Model.PluralNoun are ready to go!</p>